# Logistic Regression on Titanic Survival DataSet
### Done By: Muhammad Uzair Saleem
### Company: CodSoft
### BAtch:   DEC Batch A22

In [59]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [60]:
df = pd.read_csv('Titanic-Dataset.csv')

In [61]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [62]:
le = LabelEncoder()
df['Sex'] =le.fit_transform(df['Sex'])
df['Cabin'] =le.fit_transform(df['Cabin'])
df['Embarked'] =le.fit_transform(df['Embarked'])

df['Age'].fillna(0,inplace=True)

In [63]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,147,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,81,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,55,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,147,2

In [64]:
x = df[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Cabin','Embarked']]
y = df['Survived']

In [65]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [66]:
LR_model = LogisticRegression(max_iter=600)
LR_model.fit(x_train,y_train)

LogisticRegression(max_iter=600)

In [67]:
prediction = LR_model.predict(x_test)
accuracy_score(y_test,prediction)

0.7821229050279329